:root {
    --blue: #6495ed;
    --white: #faf0e6;
}

@page {
    margin: 0px;
}

/** Define now the real margins of every page in the PDF **/
body {
    margin: 90px 5px 5px 5px;
    font-size: 8px;
}

strong {
    font-size: 8px;
}

/** Define the header rules **/
header {
    position: fixed;
    top: 0cm;
    left: 0cm;
    right: 0cm;
    height: 10cm;
}


/** Define the footer rules **/
footer {
    position: fixed;
    bottom: 0cm;
    left: 0cm;
    right: 0cm;
    height: 0.9cm;
    text-align: center;
}

main {
    padding: 4px;
}

#watermark {
    position: fixed;
    top: 20%;
    z-index: -1000;
    width: 100%;
    text-align: center;
}

table.pgrid {
    width: 770px !important;
}

table.lgrid {
    width: 770px !important;
}

table {
    width: 100%;
    border: none !important;
    page-break-inside: auto;
    page-break-before: avoid;
    font-size: 80%;
    margin-bottom: 2px;
    font-size: 8px;
}


table td {
    font-weight: normal;
    color: #000000;
    padding: 2px;
    text-align: left;
    font-size: 8px;
}

table.border td {
    font-weight: normal;
    color: #000000;
    border-bottom: 1px solid black !important;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 1);
    padding: 3px;
    text-align: left;
    font-size: 8px;
}

table th {
    background-color: #dda420;
    color: #000;
    border: none !important;
    font-weight: bold;
    text-align: left;
    padding: 2px;
    page-break-inside: auto;
    font-size: 8px;
}

.top-right-header small {
    font-size: 100%;
}

.top-right-header strong {
    font-size: 150%;
    font-weight: 300;
}

.top-right-header {
    border-left: 5px solid #dda420;
    text-align: left;
    padding: 5px;
    float: right;
}