
* {
    font-family: 'Open Sans', sans-serif !important;
}

@page {
    margin: 0px;
}

/** Define now the real margins of every page in the PDF **/
body {
    margin: 180px 5px 60px 5px;
}

/** Define the header rules **/
header {
    position: fixed;
    top: 0cm;
    left: 0cm;
    right: 0cm;
    height: 250cm;
}

/** Define the footer rules **/
footer {
    position: fixed;
    bottom: 0cm;
    left: 0cm;
    right: 0cm;
    height: 2cm;
    text-align: center;
}

main {
    padding: 20px 10px;
}

#watermark {
    position: fixed;
    top: 30%;
    z-index: -1000;
    width: 100%;
    text-align: center;
}
table {
    width: 100%;
    border: none !important;
    page-break-inside: auto;
    page-break-before: avoid;
    font-size: 80%;
    margin-bottom: 20px;
}

table td {
    font-weight: normal;
    color: #000000;
    border-bottom: 1px solid black !important;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 1);
    padding: 3px;
    text-align: left;
}

table th {
    background-color: #dda420;
    color: #000;
    border: none !important;
    font-weight: bold;
    text-align: left;
    padding: 4px;
    page-break-inside: auto;
}
