.umrah-sect .title{font-size: 18px!important;font-weight: 500;color: #939497;}
.fs-35 {
  font-size: 35px !important;
  line-height: 1.25; }
  .frush-sub-title{color: black;
    font-size: 18px;
    font-weight: 600;}

  .text-black {
    color: #000 !important;
}
.font-w600 {
    font-weight: 600;
}

.lineChart {
    max-width: 50%;
    margin-left: auto;
    max-height: 85px;}
.stat-item .sub-text{font-size: 14px;font-weight: bold!important;color: black;}
    